<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <h1>headline</h1>
            <!-- left section -->
                <!-- <div class="left_frame">
                    <div class="left_1">
                        <div class="left_1-1"><img src="/public/author/images/Profile.jpg" width="156px" height="142px"  alt="profile image"></div>
                        <div class="left_1-2"><%=user.name%></div>
                        <div class="left_1-3"><%=user.profession%></div>
                        <div class="left icons">
                            <a href="" class="icon"><img src="/public/author/icon/Facebook.jpg" alt="Facebook"></a>
                            <a href="" class="icon"><img src="/public/author/icon/Instagram.jpg" alt="Instagram"></a>
                            <a href="" class="icon"><img src="/public/author/icon/Twitter.jpg" alt="Twitter"></a>
                            <a href="" class="icon"><img src="/public/author/icon/Linkeding.jpg" alt="Linkeding"></a>
                            <a href="" class="icon"><img src="/public/author/icon/Youtube.jpg" alt="Youtube"></a>
                            <a href="" class="icon"><img src="/public/author/icon/Dribbble.jpg" alt="Dribbble"></a>
                        </div>    
                    </div>
                    <!-- left section 2 -->
                     
                    <!-- <div class="marginer"></div>
                    <div class="left_2"> 
                    <div class="text-age">Age:</div> <div class="text-age-data"<%=user.age%</div>
                    <div class="text-residence">Residence:</div> <div class="text-residence-data"><%=user.residence%></div>
                    <div class="text-freelance">Freelance:</div> <div class="text-freelance-data"><%=user.freelance%></div>
                    <div class="text-address">Address:</div>     <div class="text-address-data"><%=user.address%></div>
                </div>

                <!-- left section 3 -->
                    <!-- <div class="marginer"></div>
                    <div class="left_3">
                        <div class="language"> <h1>Language</h1> </div>
                        <div class="uzbek"><%=user.Langugae%></div> <div>100%</div>
                        <div class="korean"><%=user.Language%></div> <div>80%</div>
                        <div class="english"><%=user.Language%></div> <div>60%</div>
                    </div>
                    <!-- left section 4 -->
                    <!-- <div class="marginer"></div>
                    <div class="left_4">
                        <div class="skills">
                            <p>Skills</p>
                        </div>
                        <p><%=user.skills%></p> <span>90%</span>
                        <p><%=user.skills%></p>  <span>85</span>
                        <p><%=user.skills%></p> <span>80</span>
                        <p><%=user.skills%></p> <span>75</span>
                        <p><%=user.skills%></p> <span>85</span>
                    </div> -->
                    <!-- letf section 4 -->
                    <!-- <div class="marginer"></div>
                    <div class="left_5">
                    <div class="extra_skills">
                        Extra Skills
                    </div>
                    <div><img src="/public/author/icon/Icons.png" alt="icon"><%=user.extra_skills%></div>
                    <div><img src="/public/author/icon/Icons.png" alt="icon"><%=user.extra_skills%></div>
                    <div><img src="/public/author/icon/Icons.png" alt="icon"><%=user.extra_skills%></div>
                    <div><img src="/public/author/icon/Icons.png" alt="icon"><%=user.extra_skills%></div>
                </div>    
                </div> -->
                <!-- lest section end -->
                <!-- <div class="midd_frame">
                    <div class="middle-text"><%=user.work_place%></div>
                    <div class="middle-text2"><%=user.service_desc%></div>
                    <button>Hire me</button>
                    <div class="photo"><img src="/public/author/images/Your Image 1.png" alt="photo"></div>
                </div> -->
                <!-- right section start -->
                <!-- <div class="right_frame">
                    <div class="icons"> <img src="/public/author/menu_icon/Contrast.svg" alt="Contrast"></div>
                    <div class="icons"> <img src="/public/author/menu_icon/Home.png" alt="Home"></div>
                    <div class="icons"> <img src="/public/author/menu_icon/Blog.png" alt="Blog"></div>
                    <div class="icons"> <img src="/public/author/menu_icon/Cv.svg" alt="Cv"></div>
                    <div class="icons"> <img src="/public/author/menu_icon/Portfolio.svg" alt="Portfolio"></div>
                    <div class="icons"> <img src="/public/author/menu_icon/Service.svg" alt="Service"></div>
                    <div class="icons"> <img src="/public/author/menu_icon/Contact.svg" alt="Contact"></div>
                </div> 
                <!--  -->
        </div>
    </div>

</body>    
</html>
